# Test Reports
mochawesome-report

# Dependencies
node_modules
package-lock.json

# Yarn 4
.yarn/install-state.gz
.yarn/cache
.yarn/unplugged
.pnp.*

# System Files
.DS_Store

# Test Data
test-data/

# Environment Variables
.env
.env.local
.env.*.local
